@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Galmuri';
  src: url('/fonts/Galmuri11-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Galmuri', sans-serif;
}
